body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #1a1a1a;
}

nav {
    width: 200px;
    background-color: #f2f2f2;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

nav a {
    display: block;
    color: #000033; /* Dark blue */
    text-decoration: none;
    margin: 10px 0;
}

main {
    margin-left: 220px;
    padding: 20px;
}

h1, h2 {
    color: #000033; /* Dark blue */
    text-align: center;
    padding: 20px 0;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 10px;
}

form {
    margin: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #1a1a1a;
}

input[type="submit"] {
    background-color: #000033; /* Dark blue */
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    opacity: 0.8;
}
