body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* white */
    display: flex;
}

nav {
    background-color: #000040; /* darker blue */
    color: #FFFFFF; /* white */
    padding: 15px;
    width: 180px; /* reduced width */
    position: fixed;
    height: 100%;
    overflow: auto;
}

nav a {
    color: #FFFFFF; /* white */
    margin: 0 15px;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

main {
    padding: 15px;
    margin-left: 200px; /* reduced margin-left */
    width: calc(100% - 200px); /* increased width */
    transition: margin-left 0.5s;
    position: relative;
    left: 0;
}

h1, h2 {
    color: #000040; /* navy blue */
}

form {
    margin-top: 20px;
}

form input[type="text"], form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000; /* black */
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #000040; /* navy blue */
    color: #FFFFFF; /* white */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

form input[type="submit"]:hover {
    opacity: 0.8;
}
